@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');
body {
  font-family: 'Playfair Display', serif !important;
  background: #141414 !important;
  color: #ffffff !important;
}

a:-webkit-any-link {
  text-decoration: none !important;
  color: Black !important;
}

.logo {
  text-decoration: none !important;
  color: orangered !important;
}

.movie-app>.row {
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
}

.movie-app>.row::-webkit-scrollbar {
  display: none;
}

.image-container {
  position: relative;
  transition: transform 0.2s;
  /* margin: 20px; */
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
}

.movie-detail {
  margin: 0 300px !important;
  margin-top: 2rem !important;
}

.movie-content {
  padding-left: 50px !important;
}

.movie-content h2 {
  margin-bottom: 20px !important;
}

.movie-content__inner{
  margin-top: 20px;
}

.movie-content__inner span {
  width: 70px !important;
  background-color: orange;
  padding: 8px;
  border-radius: 5px;
  display: block;
  margin-right: 15px;
  text-align: center;
}

.movie-description {
  letter-spacing: 1.5px !important;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  top: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.content-more {
  display: flex;
}

.movie-suggestion {
  margin-top: 60px;
}

.movie-suggestion h2 {
  display: block;
  width: 100%;
}

.movie-suggestion__inner {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.rating {
  background-color: orange;
  padding: 4px;
  border-radius: 5px;
}

.movie-title {
  width: 200px;
}
.movie-heading {
  border-bottom: 1px solid gray;
}